<ion-toolbar color="primary">
  <ion-buttons slot="secondary">
      <ion-button fill="solid" [disabled]="isToday" (click)="today()">
          <ion-icon slot="start" name="today-outline"></ion-icon>
          Today
      </ion-button>
  </ion-buttons>
  <!-- <ion-title>Scheduler Beta: 2.2</ion-title> -->
  <ion-buttons slot="primary">
      <ion-button fill="solid" color="secondary" (click)="changeMode('month')">Month</ion-button>
      <ion-button fill="solid" color="secondary" (click)="changeMode('week')">Week</ion-button>
      <ion-button fill="solid" color="secondary" (click)="changeMode('day')">Day</ion-button>
      <ion-button fill="solid" color="secondary" (click)="loadEvents()">Test</ion-button>

  </ion-buttons>
</ion-toolbar>


<ion-content [fullscreen]="true">
  <ion-header collapse="condense">


  </ion-header>


  <calendar [eventSource]="eventSource"
            [calendarMode]="calendar.mode"
            [currentDate]="calendar.currentDate"
            (onCurrentDateChanged)="onCurrentDateChanged($event)"
            (onEventSelected)="onEventSelected($event)"
            (onTitleChanged)="onViewTitleChanged($event)"
            (onTimeSelected)="onTimeSelected($event)"
            step="30">
  </calendar>




</ion-content>